@font-face {
  font-family: relaway;
  src: url('../fonts/relaway/Raleway-Regular.ttf');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: relaway;
  src: url('../fonts/relaway/Raleway-Bold.ttf');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: opensans;
  src: url('../fonts/opensans/OpenSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: opensans;
  src: url('../fonts/opensans/OpenSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: cardo;
  src: url('../fonts/cardo/Cardo-Italic.ttf');
  font-weight: 300;
  font-style: italic;
}